<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

{%- include head.html -%}

<body>

    {%- include header.html -%}
    <!-- : 페이지 상단의 헤더를 header.html 파일에서 포함합니다. -->

    <!-- <main class="page-content" aria-label="Content">: 페이지의 주요 콘텐츠를 감싸는 요소입니다.
        {{ content }}: 현재 페이지의 콘텐츠를 렌더링합니다. -->
    <main class="page-content" aria-label="Content">
        <div class="wrapper">
            {{ content }}
        </div>
    </main>

    {%- include footer.html -%}

</body>

</html>
